body {
    font-family: sans-serif;
    background-color: #ffff77;
    margin-top: 25px;
    color:#CC0000;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.img-small {
    height: 50px;
}
.h1{
    font-size:30px;
}
.h2{
    font-size:25px;
}
.h3{
    font-size:20px;
}
.h4{
    font-size:15px;
}

